{% extends 'core/base.html' %}

<!--titulo cambiante-->
{% block title %}home{% endblock %}


{% block background %}{% load static %}{% static 'core/img/gym2.jpeg'%}{% endblock  %}
{% block header %}
<h1 class="display-3 text-white mb-3 animated slideInDown">MfFitness</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <ol class="breadcrumb justify-content-center text-uppercase">
                                <li class="breadcrumb-item text-white  active" aria-current="page">MfFitness</li>
                                <li class="breadcrumb-item"><a href="{% url 'about'%}">Nosotros</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'services'%}">Servicios</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'contact'%}">Contactanos</a></li>
                                
                            </ol>
                        </ol>
                    </nav>
{% endblock  %}

{% block content %}



  


{% endblock  %}